@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .sidebar-icon {
    @apply relative flex items-center justify-center
            h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
            bg-gray-700 text-green-500 hover:bg-green-600 
            hover:text-white rounded-3xl hover:rounded-xl
            transition-all duration-200 ease-linear; 
  }

  .sidebar-name {
    @apply absolute w-auto p-2 m-2 min-w-max left-16 z-10
            rounded-md shadow-md text-white bg-gray-900 text-xs
            font-bold transition-all duration-100 scale-0 origin-left;
  }

  .sidebar-hr{
    @apply bg-gray-600 border-gray-700 mx-5 w-10;
  }

  .channelbar {
    @apply bg-gray-800 h-screen w-60 ml-20 shadow-lg fixed -z-10;
  }

  .contentcontainer {
    @apply mt-16 bg-gray-700 h-full w-screen shadow-lg fixed ml-20 -z-20 p-8 overflow-scroll;
  }

  .top-nav {
    @apply fixed flex w-full px-5 h-16 ml-20 bg-gray-700 shadow-lg;
  }

  .navleft {
    @apply hidden items-center;
  }

  .navright {
    @apply flex items-center w-full justify-end mr-24
  }

  .top-nav-icon {
    @apply text-gray-500
    mr-4 ml-4
    transition duration-300 ease-in-out 
    hover:text-white
    cursor-pointer;
  }

  .search {
    @apply w-1/5 flex items-center justify-start 
    bg-gray-400 dark:bg-gray-600
    text-gray-500
    px-2 h-9 ml-2 mr-0 
    rounded-md shadow-md
    transition duration-300 ease-in-out;
  }

  .search-input {
    @apply w-full font-sans font-semibold
    bg-transparent outline-none 
    text-gray-500  placeholder-gray-500
    pl-1 rounded;
  }

  .server-wrap {
    @apply shadow-lg h-16
  }

  .theme-toggle {
    @apply mr-4 cursor-pointer text-gray-400 animate-pulse hover:animate-none hover:text-white transition-all ease-linear;
  }

  .drop-header {
    @apply flex flex-row items-center justify-evenly
    mx-0 text-gray-500 
    cursor-pointer;
  }

  .drop-header-text {
    @apply text-gray-500  text-opacity-90 
    text-base font-semibold
    cursor-default select-none;
  }

  .drop-header-selected {
    @apply text-secondary text-opacity-90 text-base font-bold select-none;
  }

  .drop-selection {
    @apply flex flex-row items-center
    mt-1 mr-auto ml-2
    transition duration-300 ease-in-out
    cursor-pointer;
  }

  .drop-selection-text {
    @apply text-gray-500 font-semibold tracking-wide
    mr-auto 
    transition duration-300 ease-in-out 
    hover:text-white
    cursor-pointer select-none;
  }

  .bottom-bar {
    @apply flex flex-row items-center justify-between 
    fixed left-96 right-8 bottom-2 
    rounded-lg shadow-lg 
    bg-gray-600 px-2
    h-12 -ml-60; 
  }

  .bottom-bar-input {
    @apply font-semibold w-full
    bg-transparent outline-none 
     mr-auto
    text-gray-300 placeholder-gray-500
    cursor-text;
  }

  .content-list {
    @apply flex flex-col
    h-full w-full
    overflow-hidden;
  }

  .post {
    @apply w-full
    flex flex-row 
    py-4;
  }

  .post-content {
    @apply w-full 
    flex flex-col justify-start 
    ml-5;
  }

  .post-text {
    @apply text-left text-gray-400
    mr-auto whitespace-normal;
  }

  .post-owner {
    @apply text-left font-semibold text-white mr-2 cursor-pointer;
  }

  .avatar-wrapper {
    @apply flex flex-col
    w-12 
    m-0 ml-auto mb-auto;
  }

  .avatar {
    @apply flex-none
    w-12 h-full 
    rounded-full shadow-md
    object-cover bg-gray-300 
    mb-auto mt-0 mx-0 
    cursor-pointer;
  }

  .timestamp {
    @apply text-xs text-left font-semibold text-gray-500 ml-2 cursor-default;
  }

  .content-header {
    @apply flex flex-col w-full text-center -ml-10
  }

  .header-welcome {
    @apply text-4xl font-bold p-2
  }

  .clip-wrap {
    @apply flex flex-col py-5
  }

  .home-wrap {
    @apply text-center
  }

  .iframeVideo {
    @apply h-96 w-9/12 pt-6 relative
  }

  .iframeVideo iframe{
    @apply w-full h-full absolute
  }

}

/* if screen becomes larger than 640px */
@media screen(sm) {
  .navleft {
    display: flex;
  }
  .navright {
    margin-left: -15rem
  }
}

@media screen(lg) {
  .content-header {
    margin-left: -10rem;
  }

  .top-nav {
    margin-left: 20rem;
  }

  .top-nav-icon {
    margin-right: 0.75rem;
  }

  .navright {
    margin-right: 24rem;
  }

  .channelbar {
    display: flex;
  }

  .contentcontainer {
    margin-left: 20rem;
  }

  .bottom-bar {
    margin-left: 0;
  }

}