@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .sidebar {
    @apply fixed top-0 left-0 h-screen w-20 m-0
            flex flex-col bg-primary text-white shadow-lg
            dark:bg-gray-50 transition duration-300 ease-in-out;
  }

  .sidebar-icon {
    @apply relative flex items-center justify-center
            h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
            bg-gray-700 text-green-500 hover:bg-green-600 
            hover:text-white rounded-3xl hover:rounded-xl 
            transition-all duration-150 ease-linear
            dark:bg-gray-300 dark:text-secondary dark:hover:bg-secondary dark:hover:text-white; 
  }

  .sbactive {
    @apply relative flex items-center justify-center
            h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
            bg-green-600 text-white hover:bg-green-600 
            hover:text-white rounded-2xl hover:rounded-xl 
            transition-all duration-150 ease-linear
            dark:bg-secondary dark:text-white dark:hover:bg-secondary dark:hover:text-white;
  }

  .sidebar-name {
    @apply absolute w-auto p-2 m-2 min-w-max left-16 z-10
            rounded-md shadow-md text-white bg-gray-900 text-xs
            font-bold transition-all duration-100 scale-0 origin-left
            hidden;
  }

  .sidebar-select {
    @apply absolute w-auto p-1 min-w-max -left-4 z-10
            rounded-md shadow-md bg-gray-400 text-xs
            font-bold transition-all duration-100 scale-0 origin-left;
  }

  .sidebar-hr{
    @apply bg-gray-600 border-gray-700 mx-5 w-10;
  }

  .popup-body {
    @apply text-2xl mt-10
  }

  .popup-option {
    @apply flex p-4 mx-2 my-4 border-2 rounded 
          hover:cursor-pointer hover:bg-slate-300 hover:border-gray-800
          transition-all duration-300 hover:drop-shadow-lg
  }

  .option-name {
    @apply pl-2 text-xl font-bold
  }

  .channel-name {
    @apply font-bold text-lg pl-0.5 dark:text-gray-900 transition duration-300 ease-in-out select-none
  }

  .hashtag {
    @apply text-lg text-gray-400 dark:text-gray-500 transition duration-300 ease-in-out;
  }
  
  .channelbar {
    @apply hidden flex-col text-white rounded-sm bg-gray-800 h-screen w-60 ml-20 shadow-lg fixed -z-10
            dark:bg-gray-300 transition duration-300 ease-in-out;
  }

  .contentcontainer {
    @apply mt-16 bg-gray-700 h-full w-screen shadow-lg 
          fixed ml-20 -z-20 p-8 overflow-scroll dark:bg-gray-200 transition duration-300 ease-in-out;
  }

  .top-nav {
    @apply fixed flex w-full px-5 h-16 ml-20 bg-gray-700 drop-shadow-lg dark:bg-gray-300 transition duration-300 ease-in-out;
  }

  .navleft {
    @apply hidden items-center;
  }

  .navright {
    @apply flex items-center w-full justify-end mr-24
  }

  .top-nav-icon {
    @apply text-gray-500
    mr-4 ml-4
    transition duration-300 ease-in-out 
    hover:text-white hover:drop-shadow-lg
    cursor-pointer;
  }

  .search {
    @apply flex items-center justify-start
    bg-transparent text-gray-500 
    rounded-md transition duration-300 ease-in-out;
  }

  .search-icon {
    @apply text-gray-500 my-auto transition duration-300 ease-in-out;
  }

  .search-input {
    @apply w-full font-sans font-semibold hidden
    bg-transparent outline-none 
    text-gray-500 placeholder-gray-500 dark:placeholder-gray-400 dark:text-gray-400
    pl-1 rounded;
  }

  .alerts-wrap {
    @apply bg-primary absolute 
    w-72 h-auto mt-16 right-20 
    rounded-md drop-shadow-lg
    dark:bg-gray-50 dark:text-gray-500
    transition duration-150 ease-in-out;
  }

  .alert-icon {
    @apply hidden relative items-center justify-center
    h-10 w-10 drop-shadow-lg
    bg-gray-700 text-green-500 hover:bg-green-600 
    hover:text-white rounded-xl 
    transition-all duration-100 ease-in-out
    dark:bg-gray-300 dark:text-secondary dark:hover:bg-secondary dark:hover:text-white;
  }

  .alerts-content {
    @apply bg-gray-800 dark:bg-gray-300 w-full h-full rounded-sm 
    transition-all duration-150 ease-linear
  }

  .friendrq-wrap {
    @apply flex mt-3 bg-gray-700 dark:bg-gray-200 dark:hover:bg-gray-400 w-11 h-6 ml-32 
    rounded-lg cursor-pointer hover:bg-gray-600 transition-all duration-150 ease-in-out
  }

  .friendrq-icon {
    @apply ml-1 mt-1 text-gray-400 dark:text-gray-500 drop-shadow-lg transition-all duration-150 ease-in-out
  }

  .friendrq-wrap:hover .friendrq-icon {
    @apply text-white transition-all duration-200 ease-in-out
  }

  .server-wrap {
    @apply shadow-lg h-16;
  }

  .server-name {
    @apply text-2xl font-bold p-4 dark:text-gray-800 transition duration-300 ease-in-out;
  }

  .theme-toggle {
    @apply mr-4 cursor-pointer text-gray-500 hover:text-white transition-all ease-linear;
  }

  .drop-header {
    @apply flex flex-row items-center justify-evenly
    mx-0 text-gray-500 
    cursor-pointer;
  }

  .drop-header-text {
    @apply text-gray-500  text-opacity-90 
    text-base font-semibold
    cursor-default select-none;
  }

  .drop-header-selected {
    @apply text-green-600 dark:text-secondary text-opacity-90 text-base font-bold select-none;
  }

  .drop-selection {
    @apply flex flex-row items-center
    mt-1 mr-auto ml-2
    transition duration-300 ease-in-out
    cursor-pointer;
  }

  .drop-selection-text {
    @apply text-gray-500 font-semibold tracking-wide
    mr-auto 
    transition duration-300 ease-in-out 
    hover:text-white
    cursor-pointer select-none;
  }

  .bottom-bar {
    @apply flex flex-row items-center justify-between 
    fixed right-8 bottom-5 left-32
    rounded-lg shadow-lg 
  bg-gray-600 dark:bg-gray-400 px-2
    h-12 transition duration-300 ease-in-out; 
  }

  .bottom-bar-input {
    @apply font-semibold w-full
    bg-transparent outline-none 
     mr-auto
    text-gray-400 placeholder-gray-500 dark:text-gray-500 
    transition duration-300 ease-in-out cursor-text;
  }

  .attach-icon {
    @apply text-green-500 dark:shadow-lg mx-2 dark:text-secondary transition duration-300 ease-in-out;
  }

  .content-list {
    @apply flex flex-col
    h-full w-full
    overflow-hidden;
  }

  .post {
    @apply w-full
    flex flex-row 
    py-4;
  }

  .post-content {
    @apply w-full 
    flex flex-col justify-start 
    ml-5;
  }

  .post-text {
    @apply text-left text-gray-400
    mr-auto whitespace-normal 
    dark:text-gray-900 transition duration-300 ease-in-out;
  }

  .post-owner {
    @apply text-left font-semibold text-white mr-2 cursor-pointer w-max 
            dark:text-gray-800 transition duration-300 ease-in-out;
  }

  .avatar-wrapper {
    @apply flex flex-col
    w-12 select-none
    m-0 ml-2 mb-auto;
  }

  .avatar {
    @apply flex-none
    w-12 h-full 
    rounded-full shadow-md
    object-cover bg-gray-300 
    mb-auto mt-0 mx-0
    cursor-pointer;
  }

  .timestamp {
    @apply text-xs text-left font-semibold text-gray-500 ml-2 cursor-default;
  }

  .content-header {
    @apply flex flex-col w-full text-center -ml-10 dark:text-gray-800 transition duration-300 ease-in-out;
  }

  .header-welcome {
    @apply text-4xl font-bold p-2 ;
  }

  .clip-wrap {
    @apply flex flex-col py-5;
  }

  .home-wrap {
    @apply text-gray-300 dark:text-gray-700 transition duration-300 ease-in-out;
  }

  .home-header {
    @apply text-3xl font-bold;
  }

  .home-body {
    @apply text-xl py-5 flex flex-col;
  }

  .iframeVideo {
    @apply h-96 w-7/12 pt-6 relative;
  }

  .iframeVideo iframe{
    @apply w-full h-full absolute;
  }

  .nba-wrap {
    @apply w-full;
  }

  .nbadisplay {
    @apply flex-col mt-5 w-full bg-zinc-400 rounded-md p-3 text-black;
  }

  .nbasearch {
    @apply p-2 mr-3 mb-2 rounded-md border-2 border-transparent focus:outline-none text-black focus:border-black focus:border-2
    transition duration-300 ease-in-out;
  }

}

@media (min-width: 640px) {
  .navleft {
    display: flex;
  }

  .sidebar-name {
    display: block;
  }

  .navright {
    margin-left: -15rem
  }

  .alerts-wrap {
    @apply right-36 w-80
  }

  .friendrq-wrap {
    @apply ml-40
  }

  .bell-check {
    @apply ml-28
  }

  .search {
    @apply bg-gray-400 dark:bg-gray-500 shadow-md px-2 ml-2 mr-0 h-9 w-1/5;
  }

  .search-input {
    @apply flex
  }

  .search-icon {
    @apply text-gray-500 dark:text-gray-400;
  }
}

@media (min-width: 1024px) {
  .content-header {
    margin-left: -10rem;
  }

  .post-content {
    margin-right: 6rem;
  }

  .top-nav {
    margin-left: 20rem;
  }

  .top-nav-icon {
    margin-right: 0.75rem;
  }

  .navright {
    margin-right: 24rem;
  }

  .alert-icon {
    @apply flex 
  }

  .alerts-wrap {
    @apply right-96 w-96
  }

  .friendrq-wrap {
    @apply ml-56
  }

  .channelbar {
    display: flex;
  }

  .contentcontainer {
    margin-left: 20rem;
  }

  .content-wrap {
    width: 80%;
  }

  .bottom-bar {
    margin-left: 0;
    left: 24rem;
  }

}